<!DOCTYPE html>
<html lang="en">

  {% include 'head.html' %}

  <body id="page-top">

    {% include 'navbar.html' %}

    <section class="section2" id="">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Wallet Info</h2>
        </div>
        <div>
          <p class="slim"><strong>Address:</strong> {{ subaddress }}</p>
          <p>Balance: {{ balances.1 }} WOW (locked {{ balances.0 }} WOW)</p>
          <p>Height ({{ wallet_height }} / {{ daemon_height }})</p>
        </div>

        <div class="row fp-row">
          <div class="col-lg-4">
            <a class="btn btn-lg btn-link btn-outline btn-xl js-scroll-trigger" href="#transfers">Transfers</a>
          </div>
          <div class="col-lg-4">
            <a class="btn btn-lg btn-link btn-outline btn-xl" href="#">Send</a>
          </div>
          <div class="col-lg-4">
            <a class="btn btn-lg btn-link btn-outline btn-xl" href="#">Receive</a>
          </div>
        </div>
      </div>
    </section>

    <section class="section1" id="transfers">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Transfers</h2>
          <p></p>

          <table class="table table-striped table-hover table-responsive table-responsive-sm tx-table">
            <tr>
              <th>Date</th>
              <th>Type</th>
              <th>Tx ID</th>
              <th>Amount</th>
              <th>Confirmations</th>
              <th>Fee</th>
            </tr>
            {% for tx in all_transfers | sort(attribute='timestamp', reverse=True) %}
              {% if tx.type == 'pool' %}<tr class="table-warning">{% else %}<tr>{% endif %}
                <td>{{ tx.timestamp | datestamp }}</td>
                <td>{{ tx.type }}</td>
                <td><a href="https://wownero.club/transaction/{{ tx.txid }}" target="_blank">{{ tx.txid | truncate(12) }}</a></td>
                <td>{{ tx.amount / 100000000000 }}</td>
                <td>{{ tx.confirmations }}</td>
                <td>{{ tx.fee / 100000000000 }} WOW</td>
              </tr>
            {% endfor %}
          </table>

        </div>
      </div>
    </section>

    {% include 'footer.html' %}

    {% include 'scripts.html' %}

  </body>

</html>
