<!DOCTYPE html>
<html lang="en">

  {% include 'head.html' %}

  <body id="page-top">

    {% include 'navbar.html' %}

    <section class="section2">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Your wallet is connecting</h2>
          <p>Go smoke a fatty. This page should auto-refresh when it's ready...if not, click the button below. <br /><br />If you are restoring from a seed, please allow several minutes for the process to complete.</p>
          <img src="/static/img/loading-cat.gif" width=300>
          <span class="dashboard-buttons">
            <div class="col-sm-12 dashboard-button">
              <a class="btn btn-lg btn-link btn-outline btn-xl" href="{{ url_for('wallet.dashboard') }}">Check Again</a>
            </div>
          </span>
        </div>
      </div>
    </section>

    {% include 'footer.html' %}

    {% include 'scripts.html' %}

  </body>

</html>
