<!DOCTYPE html>
<html lang="en">

  {% include 'head.html' %}

  <body id="page-top">

    {% include 'navbar.html' %}

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-12 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-4">Terms of Service</h1>
              <p>By using this service you accept and agree to be bound by the terms of service outlined below.</p>
              <p>1. You agree to not be an asshole.</p>
              <p>2. You accept the risks in using this service to manage cryptocurrency funds.</p>
              <p>3. You take responsibility for anything that occurs with your user account or wallet funds.</p>
              <p>4. You accept that under no circumstances will this service be liable for any lost cryptocurrency due to any reason.</p>
              <p>5. You agree to participate in the meme economy and support other Wownero projects.</p>
            </div>
          </div>
        </div>
      </div>
    </header>

    {% include 'footer.html' %}

    {% include 'scripts.html' %}

  </body>

</html>
